@inject IDevicesManager DevicesManager;

<h3>Devices</h3>

<ul>
    @foreach (var device in _devices!)
    {
        <li>
            <p>
                @device.DeviceId
                @device.Name
                @device.Uri
            </p>
        </li>
    }
</ul>



@code {
    private IEnumerable<ListDevicesResult>? _devices { get; set; } = new List<ListDevicesResult>();

    protected override async Task OnInitializedAsync()
    {
        _devices = await DevicesManager.ListAsync(CancellationToken.None);
    }
}
