@page "/triggerhistory"

@inject NavigationManager NavigationManager
@inject AutoHomeRestClient Client;
@inject IDialogService DialogService;
@inject ISnackbar Snackbar;
@inject IMapper Mapper;

<MudText Typo="Typo.h4" Class="mt-4 mb-4">Trigger History</MudText>

<MudSimpleTable Style="overflow-x: auto;" Class="mt-4">
    <thead>
        <tr>
            @foreach (var h in _headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (_triggerEvents.Any())
        {
            @foreach (var row in _triggerEvents)
            {
                <tr>
                    <td>@row.TimeStamp</td>
                    <td>@row.TriggerId</td>
                    <td>@row.Event</td>
                </tr>
            }
        }
        else
        {
            <tr colspan=4>
                <td>No trigger events</td>
            </tr>
        }

    </tbody>
</MudSimpleTable>

<div class="d-flex flex-column align-center">
    <MudPagination ShowFirstButton="true" ShowLastButton="true" Class="mt-4 mb-4" SelectedChanged="SelectedPageChangedAsync" Selected="_listQuery.PageIndex" Count="_pageCount" />
</div>

@code {
    private ListQuery _listQuery { get; set; }
    IEnumerable<ListTriggerEventsResult> _triggerEvents { get; set; } = new List<ListTriggerEventsResult>();
    string[] _headings = { "Time Stamp", "Trigger Id", "Event", string.Empty };
    bool _loading = true;
    int _pageCount = 0;

    protected override async Task OnInitializedAsync()
    {
        _listQuery = NavigationManager.GetListQuery();
        NavigationManager.LocationChanged += HandleLocationChanged;
        await Refresh();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

    void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        _listQuery = NavigationManager.GetListQuery();
        StateHasChanged();
    }

    private async Task Refresh()
    {
        _loading = true;
        var triggerEvents = await Client.ListTriggerEventsAsync(_listQuery.PageIndex, _listQuery.PageSize);
        _triggerEvents = triggerEvents.Data;
        _pageCount = triggerEvents.TotalPages;
        _loading = false;
    }

    private async Task SelectedPageChangedAsync(int pageIndex)
    {
        var dict = new ReadOnlyDictionary<string, object?>(new Dictionary<string, object?>()
            {
                { "pageIndex", pageIndex },
                { "pageSize", _listQuery.PageSize },
            });
        NavigationManager.NavigateTo(
            NavigationManager.GetUriWithQueryParameters(dict));
        _listQuery.PageIndex = pageIndex;
        _listQuery.PageSize = Convert.ToInt32(dict["pageSize"]);

        await Refresh();
        StateHasChanged();
    }
}